{% extends 'base.html.twig' %}

{% block title %}Résultat de la recherche{% endblock %}

{% block body %}
    <h2>Résultat de la recherche pour : {{ mot }}</h2>

    <div class="card-columns">
        {% for livre in livres %}
            {% include "livre/vignette.html.twig" %}
        {% else %}
            <h2>Aucun livre ne correspond à cette recherche</h2>
        {% endfor %}
    </div>

{% endblock %}
